<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Gerçek dosya/klasör yoksa…
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Tüm diğer istekleri index.html’e gönder
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Powered-By "Ahmet-sele"
</IfModule>
